{% extends "Dashboard/base.html" %}
{% load static %}
{% block dashboard %}
        <div class="page-wrapper">
            <!-- ============================================================== -->
            <!-- Bread crumb and right sidebar toggle -->
            <!-- ============================================================== -->
            <div class="page-breadcrumb">
                <div class="row align-items-center">
                    <div class="col-5">
                        <h4 class="page-title">Dashboard</h4>
                        <div class="d-flex align-items-center">
                            <nav aria-label="breadcrumb">
                                <ol class="breadcrumb">
                                    <li class="breadcrumb-item"><a href="{% url "Dashboard" %}">Home</a></li>
                                    <li class="breadcrumb-item active" aria-current="page">Customer</li>
                                </ol>
                            </nav>
                        </div>
                    </div>
                </div>
            </div>
            <!-- ============================================================== -->
            <!-- End Bread crumb and right sidebar toggle -->
            <!-- ============================================================== -->
            <!-- ============================================================== -->
            <!-- Container fluid  -->
            <!-- ============================================================== -->
            <div class="container-fluid">
                <!-- ============================================================== -->
                <!-- Sales chart -->
                <!-- ============================================================== -->
                
                <!-- Table -->
                <!-- ============================================================== -->
                <div class="row">
                    <!-- column -->
                    <div class="col-12">
                        <div class="card">
                            <div class="card-body">
                                <!-- title -->
                                <div class="d-md-flex">
                                    <div>
                                        <h4 class="card-title">All Users</h4>
                                        {% comment %} <h5 class="card-subtitle">Overview of Top Selling Items</h5> {% endcomment %}
                                    </div>
                                    
                                </div>
                                <!-- title -->
                            </div>
                            <div class="table-responsive">
                                <table class="table v-middle">
                                    <thead>
                                        <tr class="bg-light">
                                            <th class="border-top-0">ID</th>
                                            <th class="border-top-0">UserName</th>

                                            <th class="border-top-0">email</th>
                                            <th class="border-top-0">Name</th>
                                            <th class="border-top-0">Locality</th>
                                            <th class="border-top-0">City</th>
                                            <th class="border-top-0">Contact</th>
                                            <th class="border-top-0">State</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% for cust in customer %}
                                        <tr>
                                            <td>
                                                {{cust.id}}
                                            </td>
                                            <td>
                                                {{cust.user.username}}
                                            </td>
                                            <td>{{cust.user.email}}</td>
                                            <td>{{cust.name}}</td>
                                            <td>
                                                {{cust.locality}}
                                            </td>
                                            <td>{{cust.city}}</td>
                                            <td>{{cust.contact_no}}</td>
                                            <td>
                                                {{cust.state}}
                                            </td>
                                        </tr>
                                        {% endfor %}

                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- ============================================================== -->
                <!-- Table -->
                <!-- ============================================================== -->

            </div>

            {% endblock dashboard %}
